
.sticky-top{
    background:black !important;
}
.tittle{
  height:40px;
  width:100%;
  align:center;
  background-color:black;
  color:white;
  padding: 5px;
  text-transform: uppercase;
}
.tieude{
  
}