.left{
	width:240px;
	height: auto;
	border:1px solid #000;
	float:left;
	
}
.right{
	width:auto;
	height:auto;
	border:1px solid #000;
	float: right;
}
.sticky-top{
    background:black !important;
}
img{
	width: 240px;
	height: 320px;
}
.formsp{
	margin: 5px;
	width: 250px;
}